<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전통주 취향 테스트</title>
    <link rel="stylesheet" href="../public/detail.css">
</head>

<body>





    <div id="title">
        <h1>추천 전통주 찾기</h1>
        <div>
            <img src="../uploads/home.PNG" alt="mainImg" class="imgs">
        </div>
        <p>나에게 맞는 술을 찾아보세요</p>



    </div>




    <div id="result">

        <div class="resultTitle">

        </div>
        <div id="resultImg">
            <!-- <img> -->
        </div>
        <div class="resultContent">
            <% for (var i=0; i < posts.length ; i ++) { %>
                <h2 class="title">전통주명 : <%= posts[i].전통주명 %>
                </h2>
                <p class="price">가격 : <%= posts[i].가격 %>
                </p>
                <p class="ml">용량 : <%= posts[i].용량 %>
                </p>
                <p class="drink">주종 : <%= posts[i].주종 %>
                </p>
                <p class="alcohol">도수 : <%= posts[i].도수 %>
                </p>
                <p class="dan">단맛 : <%= posts[i].단맛 %>
                </p>
                <p class="shin">신맛 : <%= posts[i].신맛 %>
                </p>
                <p class="body">바디감 : <%= posts[i].바디감 %>
                </p>
                <p class="fresh">청량감 : <%= posts[i].청량감 %>
                </p>
                <p class="food">잘 어울리는 음식 : <%= posts[i].잘어울리는음식 %>
                </p>
                <p class="material">주원료 : <%= posts[i].주원료 %>
                </p>
                <p class="img">이미지 : <%= posts[i].이미지 %>
                </p>
                <% } %>
        </div>



    </div>


</body>

</html>